body{
    font-family: "Bricolage Grotesque", sans-serif;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

header{
    color: #163688;
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: rgba(174, 214, 207, 0.7);
    padding: 0 50px 0 50px;
    margin:0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

header h1{
    margin:0;
}

footer{
    background-color: rgba(174, 214, 207, 0.7);
    padding: 3px;
    color: #163688;
}

a{
    color: #163688;
    text-decoration: none;
    padding: 0px 20px 0px 20px;
}
a:hover{
    color:#FAFDD6;
}

nav ul{
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 0;
}

nav ul li{
    display: inline-block;
    transition: background-color 0.2s;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
}

nav ul li:hover{
    background-color: #647FBC;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.hero-section{
    text-align: left;
    background-image: url("img/hero-bg.jpg");
    background-size: cover;
    background-position: right;
    height: 400px;
    padding: 10px;
}

#classroom{
    color: #6ac8ff;
}

.hero-content{
    color: white;
    font-size: 20px;
    width:550px;
    padding: 20px;
    border-radius: 10px;
    margin: 25px 0 0 50px;
}

.features-section{
    background-color: #91ADC8;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.features-section h2{
    color: #163688;
    padding: 0;
    margin: 0;
}

.features-section h3{
    color: #FAFDD6;
    padding: 0;
    margin: 0;
}

.features-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: center;
}
.feature-item{
    color: white;
    background-color: #647FBC;
    text-align: left;
    width: 200px;
    height: 120px;
    padding: 20px;
    margin: 20px 20px 0 20px;
    border-radius: 10px;
    transition: transform 0.5s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.feature-item:hover{
    transform: translateY(-4px);
}

.feature-item h4{
    padding:0;
    margin: 0;
}

.courses-section{
    background-image: url("img/courses-bg.jpg");
    background-size: cover;
    background-position: left;
    padding: 30px;
}

.courses-section .course-content h3{
    padding: 0;
    color: #163688;
    margin: 0;
}

.course-content{
    color: #163688;
    font-size: 16px;
    grid-column: span 3;
    width: 640px;
    height: 145px;
    display: inline-block;
    text-align: right;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
}

.course-catalog{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: right;
    justify-content: right;
    background-color: transparent;
}
.course-item{
    color: #163688;
    background-color:#FAFDD6;
    width: 200px;
    height: 165px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    transition: transform 0.5s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.course-item:hover{
    transform: translateY(-4px);
}

img{
    border-radius: 10px;
    margin:0;
    padding:0;
}

button{
  padding: 10px;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  background: #163688;;
  color:#FAFDD6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal_container{
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0,0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
}

.modal_container.show{
    opacity: 1;    
    pointer-events: auto;
}

.modal{
    background-color: #647FBC;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modal h1{
    margin: 0;
    color:#FAFDD6;
}

#signup-form{
    padding: 20px 50px;;
}

.input-field{
    background: white;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding:20px 15px;
}