body{
    font-family: "Bricolage Grotesque", sans-serif;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    text-align: center;
}

header{
    color: #163688;
    z-index: 3;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background: rgba(174, 214, 207, 0.7);
    padding: 0 50px 0 50px;
    margin:0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

header h1{
    margin:0;
}

footer{
    background-color: rgba(174, 214, 207, 0.7);
    padding: 3px;
    color: #163688;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

a{
    color: #163688;
    text-decoration: none;
    padding: 0px 20px 0px 20px;
}
a:hover{
    color:#FAFDD6;
}

nav ul{
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 0;
}

nav ul li{
    display: inline-block;
    transition: background-color 0.5s;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
}

nav ul li:hover{
    background-color: #647FBC;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.hero-section{
    text-align: left;
    background-image: url("img/hero-bg.jpg");
    background-size: cover;
    background-position: right;
    height: 400px;
    padding: 10px;
}

#classroom{
    color: #6ac8ff;
}

.hero-content{
    color: white;
    font-size: 20px;
    width:550px;
    padding: 20px;
    border-radius: 10px;
    margin: 25px 0 0 50px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.features-section{
    display: block;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: linear-gradient(to right, #A7BFE8, #6190E8); 
}

.features-section h2{
    color: #163688;
    padding: 0;
    margin: 0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.features-section h3{
    color: #FAFDD6;
    padding: 0;
    margin: 0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.features-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: center;
}
.feature-item{
    color: white;
    background: linear-gradient(to top, #363795, #005C97);
    text-align: left;
    width: 200px;
    height: 120px;
    padding: 20px;
    margin: 20px 20px 0 20px;
    border-radius: 10px;
    transition: transform 0.5s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.feature-item:hover{
    transform: translateY(-4px);
}

.feature-item h4{
    padding:0;
    margin: 0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.courses-section{
    background-image: url("img/courses-bg.jpg");
    background-size: cover;
    background-position: left;
    padding: 30px;
}

.courses-section .course-content h3{
    padding: 0;
    color: #163688;
    margin: 0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.course-content{
    color: #163688;
    font-size: 16px;
    grid-column: span 3;
    width: 640px;
    height: 145px;
    display: inline-block;
    text-align: right;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.course-catalog{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: right;
    justify-content: right;
    background-color: transparent;
}
.course-item{
    color: #163688;
    background: linear-gradient(45deg, #FAFDD6, #ffb3a0);
    width: 200px;
    height: 165px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    transition: transform 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.course-item:hover{
    transform: scale(1.05);
}

img{
    border-radius: 10px;
    margin:0;
    padding:0;
}

button{
    cursor: pointer;
    padding: 10px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    background: #163688;;
    color:#FAFDD6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal_container{
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0,0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
}

.modal_container.show{
    opacity: 1;    
    pointer-events: auto;
    z-index: 2;
}

.modal{
    background-color: #647FBC;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modal h1{
    margin: 0;
    color:#FAFDD6;
}

#signup-form{
    padding: 20px 50px;;
}

.input-field{
    background: white;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding:20px 15px;
}

.instructors{
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    background-image: url("img/books-shelf.jpg");
    background-size: cover;
}
.instructors h1{
    color: white;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 1);
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255, 0.5);
    border-radius: 5px;
    padding: 40px;
}
.instructor-card{
    width: 400px;
    height: 500px;
    border-radius: 5px;
    margin: 0 10px 0 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    transition: transform 0.5s;
    cursor: pointer;
}
.instructor-card:hover{
    transform: scale(1.03);
}
.instructor-card p{
    background: rgba(22, 54, 136, 0.6);
    padding: 20px;
    width: 300px;
    position: absolute;
    bottom: 0;
    border-radius: 5px;
    color: white;
    text-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.instructor-card h2{
    position: absolute;
    bottom:150px;
    left: 30px;
    border-radius: 5px;
    padding: 10px;
    color: white;
    background: rgba(22, 54, 136, 0.6);
    text-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
#prof1{
    background-image: url(img/prof1.jpg);
}
#prof2{
    background-image: url(img/prof2.jpg);
}