body{
    font-family: "Bricolage Grotesque", sans-serif;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    text-align: center;
}

header{
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: rgba(127, 255, 212, 0.521);
    padding: 0 50px 0 50px;
    margin:0;
}

header h1{
    margin:0;
}

footer{
    background-color: aquamarine;
    padding: 3px;
}

a{
    text-decoration: none;
    padding: 0px 20px 0px 20px;
}

nav ul{
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 0;
}

nav ul li{
    display: inline-block;
    transition: background-color 0.2s;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
}

nav ul li:hover{
    background-color: purple;
}

.hero-section{
    text-align: left;
    background-image: url("img/hero-bg.jpg");
    background-size: cover;
    background-position: right;
    height: 400px;
    padding: 10px;
}

#classroom{
    color: pink;
}

.hero-content{
    /* background-color: wheat; */
    color: white;
    font-size: 20px;
    width:550px;
    padding: 20px;
    border-radius: 10px;
    margin: 25px 0 0 50px;
}

.features-section{
    background-color: yellow;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.features-section h2{
    color: blue;
    padding: 0;
    margin: 0;
}

.features-section h3{
    color: green;
    padding: 0;
    margin: 0;
}

.features-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: center;
}
.feature-item{
    background-color: darkgoldenrod;
    text-align: left;
    width: 200px;
    height: 120px;
    padding: 20px;
    margin: 20px 20px 0 20px;
    border-radius: 10px;
    transition: transform 0.5s;
}

.feature-item:hover{
    transform: translateY(-4px);
}

.feature-item h4{
    padding:0;
    margin: 0;
}

.courses-section{
    background-image: url("img/courses-bg.jpg");
    background-size: cover;
    background-position: left;
    padding: 30px;
}

.courses-section .course-content h3{
    padding: 0;
    color: red;
    margin: 0;
}

.course-content{
    font-size: 16px;
    grid-column: span 3;
    width: 640px;
    height: 145px;
    display: inline-block;
    text-align: right;
    background-color:khaki;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
}

.course-catalog{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: right;
    justify-content: right;
    background-color: transparent;
}
.course-item{
    background-color:lavenderblush;
    width: 200px;
    height: 165px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    transition: transform 0.5s;
}

.course-item:hover{
    transform: translateY(-4px);
}

img{
    border-radius: 10px;
    margin:0;
    padding:0;
}

button{
  padding: 10px;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  background:purple;
  color:white;
}
